<h1>Listar Itens das Ordens de Serviços</h1>

<table>
  <thead>
    <tr>
      <th>Itens OS</th>
      <th>Quantidade</th>
      <th>Ordem de Serviço</th>
      <th>Serviço</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @itensdaordemdeservicos.each do |itensdaordemdeservico| %>
      <tr>
        <td><%= itensdaordemdeservico.itensos %></td>
        <td><%= itensdaordemdeservico.quantidade %></td>
        <td><%= itensdaordemdeservico.ordemdeservico.descricaoservico %></td>
        <td><%= itensdaordemdeservico.servico.tipodeservico %></td>
        <td><%= link_to 'Ver', itensdaordemdeservico %></td>
        <td><%= link_to 'Editar', edit_itensdaordemdeservico_path(itensdaordemdeservico) %></td>
        <td><%= link_to 'Excluir', itensdaordemdeservico, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar Novos Itens da Ordem de Serviço', new_itensdaordemdeservico_path %>
