= semantic_form_for [@itensdopedido] do |form|
  
  = form.input :itempedido, :label => 'Item Pedido'
  = form.input :quantidade, :label => 'Quantidade'
  = form.input :pedido, :member_label => :datapedido, :label => 'Pedido' 
  = form.input :produto, :member_label => :numeroee, :label => 'Produto'
  = form.submit 'Salvar'
