<h1>Listing itensdopedidos</h1>

<table>
  <thead>
    <tr>
      <th>Item Pedido</th>
      <th>Quantidade</th>
      <th>Pedido</th>
      <th>Produto</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @itensdopedidos.each do |itensdopedido| %>
      <tr>
        <td><%= itensdopedido.itempedido %></td>
        <td><%= itensdopedido.quantidade %></td>
        <td><%= itensdopedido.pedido.datapedido %></td>
        <td><%= itensdopedido.produto.numeroee %></td>
        <td><%= link_to 'Show', itensdopedido %></td>
        <td><%= link_to 'Edit', edit_itensdopedido_path(itensdopedido) %></td>
        <td><%= link_to 'Excluir', itensdopedido, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Itensdopedido', new_itensdopedido_path %>
