<p id="notice"><%= notice %></p>

<p>
  <strong>Item Pedido:</strong>
  <%= @itensdopedido.itempedido %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @itensdopedido.quantidade %>
</p>

<p>
  <strong>Pedido:</strong>
  <%= @itensdopedido.pedido.datapedido %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @itensdopedido.produto.numeroee %>
</p>

<%= link_to 'Editar', edit_itensdopedido_path(@itensdopedido) %> |
<%= link_to 'Voltar', itensdopedidos_path %>
