<h1>Listar Emails dos Funcionários</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Funcionário</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @emailfuncionarios.each do |emailfuncionario| %>
      <tr>
        <td><%= emailfuncionario.email %></td>
        <td><%= emailfuncionario.funcionario.nome %></td>
        <td><%= link_to 'Ver', emailfuncionario %></td>
        <td><%= link_to 'Editar', edit_emailfuncionario_path(emailfuncionario) %></td>
        <td><%= link_to 'Excluir', emailfuncionario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Criar Novo Email de Funcionário', new_emailfuncionario_path %>
