<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @emailfuncionario.email %>
</p>

<p>
  <strong>Funcionário:</strong>
  <%= @emailfuncionario.funcionario.nome %>
</p>

<%= link_to 'Editar', edit_emailfuncionario_path(@emailfuncionario) %> |
<%= link_to 'Voltar', emailfuncionarios_path %>
