<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : OfficialWork 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20121012

-->
<html xmlns="http://www.w3.org/1999/xhtml">	

<head>

	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />


	<title>Supermercado Marques S/A</title>


	<link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
	<link href="style.css" rel="stylesheet" type="text/css" media="screen" />

	<script type="text/javascript" src="jquery/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="jquery/jquery.gallerax-0.2.js"></script>

	<style type="text/css">
	@import "gallery.css";
	</style>

	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag :style %>
	<%= javascript_include_tag :application %>
	<%= csrf_meta_tag %>

</head>


<body>

<div id="wrapper">
	
	<div id="header">
		
		<div id="logo">
			<h1><a href="#">Supermercado Marques S/A</a></h1>
			<p>Bom atendimento é a nossa satisfação!</p>
		</div>
		
	</div>
	
	
	<!-- end #header -->
	
	
	<div id="menu">
	
		<ul>
			<li class="current_page_item"><a href="/home/index">Página Inicial</a></li>
			<li><%= link_to 'Funcionário',funcionarios_path %></li>
			<li><%= link_to 'Cargo Funcionário',cargofuncionarios_path %></li>
			<li><%= link_to 'Endereço do Funcionário',enderecofuncionarios_path %></li>
			<li><%= link_to 'Telefone do Funcionário',telefonefuncionarios_path %></li>
			<li><%= link_to 'Email do Funcionário',emailfuncionarios_path %></li>
			<li><%= link_to 'Usuário',usuarios_path %></li>
			<li><%= link_to 'Nível de Acesso',niveldeacessos_path %></li>
			<li><%= link_to 'Serviço',servicos_path %></li>
			<li><%= link_to 'Ordem de Serviço',ordemdeservicos_path %></li>
			<li><%= link_to 'Itens da Ordem de Serviço',itensdaordemdeservicos_path %></li>
			<li><%= link_to 'Ponto Remoto',pontoremotos_path %></li>
			<li><%= link_to 'Pedido',pedidos_path %></li>
			<li><%= link_to 'Itens do Pedido',itensdopedidos_path %></li>
			<li><%= link_to 'Produto',produtos_path %></li>
		</ul>
	
	</div>
	
	
	<!-- <div id=f"banner"><%= image_tag "pics01.jpg", :size => "820x350" %></div> -->
		
	<%= yield %>
	
	<div id="two-columns">
		<div id="col1">
			<p><a href="#" class="link-style2">Seja bem vindo :)</a></p>
			<p>​O Supermercado Marques S/A oferece soluções eficientes e inovadoras, cuidando sempre dos pequenos detalhes, de modo a deixar a sua compra mais fácil e gostosa. Tem tudo o que o que você precisa com qualidade e oferece um atendimento do jeito que você gosta. Supermercado Marques S/A: "lugar de gente feliz". </p>
		</div>
		<!--<div id="col2"><img src="images/pics02.jpg" width="320" height="260" /> </div>-->
	</div>
	
	<div id="banner" class="container"><%= image_tag "pics.jpg", :size => "820x350" %> </div>
	
	
	<div id="three-columns">
		<div id="column1">
			<h2><strong>Responsabilidade Social</strong></h2>
			<p>Socialmente responsável, preserva o meio ambiente e promove o esporte e a solidariedade.</p>
		</div>
		<div id="column2">
			<h2><strong>Instituto Marques S/A</strong></h2>
			<p>Promove o desenvolvimento humano por meio de ações educativas em prol da melhoria das comunidades do entorno de nossas lojas.</p>
		</div>
		<div id="column3">
			<h2><strong>Qualidade e Multibenefícios</strong></h2>
			<p>Controle de qualidade de frutas, legumes e verduras em todo o processo produtivo. Produtos e serviços que beneficiam os funcionários e as empresas.</p>
		</div>
	</div>
	
		
	<div id="footer">
		<p>Copyright (c) 2012 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/"rel="nofollow">FreeCSSTemplates.org</a>. Photos by <a href="http://fotogrph.com/">Fotogrph</a>.</p>
	</div>


<!-- end #footer -->


</body>

</html>
