<h1>Listar Níveis de Acesso</h1>

<table>
  <thead>
    <tr>
      <th>Descrição do Nível</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @niveldeacessos.each do |niveldeacesso| %>
      <tr>
        <td><%= niveldeacesso.descricaonivel %></td>
        <td><%= link_to 'Ver', niveldeacesso %></td>
        <td><%= link_to 'Editar', edit_niveldeacesso_path(niveldeacesso) %></td>
        <td><%= link_to 'Excluir', niveldeacesso, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar Novo Nível de Acesso', new_niveldeacesso_path %>
