<h1>Listing telefonefuncionarios</h1>

<table>
  <thead>
    <tr>
      <th>Numero do Telefone</th>
      <th>Funcionário</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @telefonefuncionarios.each do |telefonefuncionario| %>
      <tr>
        <td><%= telefonefuncionario.numerotelefone %></td>
        <td><%= telefonefuncionario.funcionario.nome %></td>
        <td><%= link_to 'Show', telefonefuncionario %></td>
        <td><%= link_to 'Edit', edit_telefonefuncionario_path(telefonefuncionario) %></td>
        <td><%= link_to 'Excluir', telefonefuncionario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Telefonefuncionario', new_telefonefuncionario_path %>
