<p id="notice"><%= notice %></p>

<p>
  <strong>Numerotelefone:</strong>
  <%= @telefonefuncionario.numerotelefone %>
</p>

<p>
  <strong>Funcionario:</strong>
  <%= @telefonefuncionario.funcionario %>
</p>

<%= link_to 'Edit', edit_telefonefuncionario_path(@telefonefuncionario) %> |
<%= link_to 'Back', telefonefuncionarios_path %>
