= semantic_form_for [@enderecofuncionario] do |form|
  = form.input :logradouro, :label => 'Logradouro'
  = form.input :numero, :label => 'Numero'
  = form.input :bairro, :label => 'Bairro'
  = form.input :cidade, :label => 'Cidade'
  = form.input :uf, :label => 'UF'
  = form.input :cep, :label => 'CEP' 
  = form.submit 'Salvar'
