<p id="notice"><%= notice %></p>

<p>
  <strong>Logradouro:</strong>
  <%= @enderecofuncionario.logradouro %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @enderecofuncionario.numero %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @enderecofuncionario.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @enderecofuncionario.cidade %>
</p>

<p>
  <strong>UF:</strong>
  <%= @enderecofuncionario.uf %>
</p>

<p>
  <strong>CEP:</strong>
  <%= @enderecofuncionario.cep %>
</p>

<%= link_to 'Editar', edit_enderecofuncionario_path(@enderecofuncionario) %> |
<%= link_to 'Voltar', enderecofuncionarios_path %>
