= semantic_form_for [@produto] do |form|
  = form.input :quantidade, :label => 'Quantidade'
  = form.input :numeroee, :label => 'Número da Etiqueta Eletrônica'
  = form.input :dataentradaestoque, :label => 'Data de Entrada no Estoque'
  = form.input :datasaidaestoque, :label => 'Data de Saída do Estoque'
  = form.submit 'Salvar'
